{{!-- displays individual comment's content --}}
<div class="comments">
    {{#each this}}
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <p>{{comment_text}}</p>
            <p>- {{user.username}} on {{format_date created_at}}</p> 
        </div>
    </div>
    {{/each}}
</div>
