{{!-- Section displaying user's posts --}}
{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        <div class="card">
            <div class="card-header">
            <h3><a href="/post/{{this.id}}">{{this.title}}</a></h3>
            <h4><a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post></a></h4>
            </div>
        </div>  
    {{/each}}
</section>
{{/if}}

{{!-- Section containing form to create a new blog post --}}
<section>
    <div class="card center">
    <h2 class="card-header">New Post</h2>
        <div class="card-body">
            <form class="new-post-form">
                <div>
                <label for="post-title"><h3 class="new-post">Title:<h3></label>
                <input type="text" id="post-title" name="post-title" />
                </div>
                <div>
                <label for="post-content"><h3 class="new-post">Content:</h3></label>
                <textarea name="post-content"></textarea>
                </div>
                    <button type="submit" class="big-btn"> + Create</button>
            </form>
        </div>
    </div>
</section>

<script src="/javascript/create-post.js"></script>